
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px
}
/* Start Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
 scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */
 header {
 position: absolute;
 left: 0;
 width: 100%;
 z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  bottom: 0;
}
header .container img {
   height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

header .container nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }

  .toggle-menu:hover + ul{
     position: absolute;
     display: flex;
     flex-direction: column;
     top: 100%;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     width: 100%;
  }

header nav ul li a {
    padding: 15px !important;
  }
}

header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 40px 10px;
  font-size: 14px;
  transition: 0.3s;
  z-index: 2;
  position: relative;
}

@media (max-width: 992px) {
  header .container nav ul li a {
    padding: 40px 5px;
  }
}
header nav ul li a.active,
header nav ul li a:hover {
     color: var(--main-color);
     border-bottom: 1px solid var(--main-color);
    
}

header .search {
  width: 40px;
  height: 30px;
  color: white;
  margin-left: 30px;
  border-left: 1px solid white;
  font-size: 20px;
  position: relative;
}

header .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

}

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.landing .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  display: flex;
  justify-content: flex-end;
  padding: 50px;
  
}

.landing .text .content {
  max-width: 500px;
}


.landing .text .content h2 {
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
}

.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}

.landing i {
  color: white;
  font-size: 30px;
  opacity: 0.8;
}

.fa-angle-left {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  bottom: 30px;
  justify-content: space-around;
  width: 100px;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
}


.landing .bullets .active {
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .landing i {
    display: none;
  }

 .landing .text {
  width: 100%;
 }

 .landing .text .content {
  max-width: 100%;
 }
}

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .components {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;
  }
  
}

.services .serv-box {
  display: flex;
}

.serv-box i {
  margin-right: 50px;
}

@media (max-width:767px) {
  .serv-box { 
    display: flex;
    flex-direction: column;
  
    text-align: center;
  }

  .serv-box:not(:last-child) {
    margin-bottom: 70px;
  }

  .serv-box i {
    margin: 0 0 30px;
  }

}

.serv-box h3 {
  margin-bottom: 30px;
    color: var(--main-color);
}

.serv-box p {
  line-height: 2;
  color: #777;
}

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg);
  height: 600px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}



.design .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}


.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
  z-index: 2;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  z-index: 2;
}

.design .text,
.design .image {
  position: relative;
  flex: 1;

}

.design h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (max-width:767px) {
  .design .image {
    display: none;
  }

}

.shuffle ul {
  display: flex;
    justify-content: center;
}

.shuffle ul li {
  padding: 10px;
}


.shuffle ul li.active {
  background-color: var(--main-color);
  color: white;
}

.imgs-container {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}

.imgs-container .box {
  overflow: hidden;
  position: relative;
}

@media (min-width:1199px) {
  .box {
    flex-basis: 25%;
  }

}

@media (max-width:1199px) {
  .box {
    flex-basis: 50%;
  }
}

@media (max-width:768px) {
  .box {
    flex-basis: 100%;
  }
}

.box img {
  max-width: 100%;
  transition: 0.3s;
}

.box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.box .caption {
  position: absolute;
  padding: 20px;
  left: 0;
  background-color: white;
  bottom: -100%;
  width: 100%;
  transition: 0.3s;
}

.box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.box .caption p {
  color: var(--main-color);
}


.box:hover .caption {
  bottom: 0;
}

.more {
  padding: 15px 20px;
  color: white;
  background-color: var(--main-color);
  text-decoration: none;
  margin: 30px auto;
  display: block;
  width: fit-content;
}
.video{
  position: relative;
}

.video video {
  width: 100%;
}


.video::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.text-one {
  position: absolute;
  width: 100%;
  padding: 50px;
  background-color: var(--transparent-color);
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}

.text-one h2 {
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.text-one button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px;
   margin: 30px auto 0px auto;
  border-radius: 10px;
}

.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  width: 100%;
  left: -30px;
}

@media (max-width: 768px) {
  .about img {
    margin-top: -60px;
    bottom: -60px;
    left: -10px;
  }
}

.stats {
  position: relative;
  background-image: url(https://images.hdqwalls.com/download/nexus-space-digital-universe-4k-rt-1920x1080.jpg);
  padding-top: var(--section-padding);
  padding-bottom: 80px;
  text-align: center;
  background-size: cover;
}

.stats::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats .container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  position: relative;
  background: var(--transparent-color)
}

.stats .box {
  flex-basis: 25%;

}

@media (max-width: 992px) {
  .stats .box {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .stats .box {
    flex-basis: 100%;
  }
}


.stats .box i {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  margin: 50px auto 30px;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 50px;
  font-weight: normal;
  margin: 0 0 20px;
}


.stats p {
  font-size: 14px;
  margin-bottom: 50px;
}



.main-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.main-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}


@media (min-width: 992px) { 
.main-skills .container > div {
  flex-basis: 45%;
}
}

.main-skills .container > div > h3 {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin: 0 0 30px;
}

.main-skills .container > div > p {
  line-height: 2;
  color: #777;
  text-align: center;
  margin-bottom: 60px;
}

.main-skills .container .testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}


.main-skills .container .testimonials .content {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .main-skills .container .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .main-skills .container .testimonials img {
    margin: 0 auto 20px;
  }
}

.main-skills .container .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;

}

.main-skills .container .testimonials .content .text p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: right;
  color: #777;
}


.main-skills .container .testimonials .bullets {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 50px auto 50px auto;
}

.main-skills .container .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.main-skills .container .testimonials .bullets li.active {
  background-color: var(--main-color);
}

.main-skills .container .skills > p {
  margin-bottom: 40px;
}
.main-skills .container .skills .prog-holder {
   margin-bottom: 40px;
}

.main-skills .container .skills .prog-holder h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: normal;

}

.main-skills .container .skills .prog-holder .prog {
  height: 30px;
  background-color: #dedadc;
}

.main-skills .container .skills .prog-holder .prog span {
 height: 30px;
 background-color: var(--main-color);
 display: block;
 position: relative;
}

.main-skills .container .skills .prog-holder .prog span::before {
 content: attr(data-progress);
 position: absolute;
 background-color: black;
 color: white;
 padding: 5px 0;
 width: 40px;
 text-align: center;
 border-radius: 4px;
 top: -40px;
 right: -19px;
}

.main-skills .container .skills .prog-holder .prog span::after {
  content: '';
  position: absolute;
  border-color: black transparent transparent transparent;
  border-width: 8px;
  border-style: solid;
  top: -12px;
  right: -8px;
}

.quote {
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/quote.jpg);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  color: white;
  text-align: center;
  position: relative;
}

.quote::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 75%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.quote q {
  position: relative;
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.quote span {
  position: relative;
}

.price {
  padding-top: var(--section-padding) ;
  padding-bottom: var(--section-padding);
}

.price .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.price .plans .plan {
  text-align: center;
  background-color: #fffafa;
}

.price .plans .plan .head {
  padding: 40px 20px;
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
}

.price .plans .plan .head h3 {
  margin-bottom: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.price .plans .plan .head span {
  font-size: 60px;
  font-weight: 500px;
  position: relative;
}


.price .plans .plan .head span::before {
  content: '$';
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  left: -26px;
}

.price .plans .plan .head span::after {
  content: '/Mo';
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  left: 85px;
  top: 46px;
}

.price .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}

.price .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.price .plans .plan ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--main-color);
  width: 140px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

}

.price .plans .plan .foot{
  margin: 30px auto;
  border: 1px solid var(--main-color);
  padding: 20px 20px;
  width: fit-content;
  cursor: pointer;
}

.price .plans .plan .foot a {
  text-decoration: none;
}

.price .contact-text {
  font-size: 20px;
  margin: 50px auto 30px;
  text-align: center;
}

.price .contact-link {
  width: fit-content;
  display: block;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}


.subscribe {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  background-size: cover;
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg);
  position: relative;
  color: white;
}


.subscribe::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.subscribe .container {
  display: flex;
  position: relative;
  align-items: center;
}

@media (max-width: 992px) {
  .subscribe .container {
    flex-direction: column;
  }

  .subscribe form {
    margin-left: 50px;
  }

  .subscribe p {
    margin: 30px 0 0 0px ;
  }
}

.subscribe .container i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);

}

.subscribe .container form {
  display: flex;
  width: 500px;
  max-width: 100%;
  position: relative;
  margin-right: 50px;
}

.subscribe form input[type="email"] {
  background: none;
  border: 1px solid white;
  border-right: none;
  padding: 20px 20px 20px 60px;
  width: calc(100% - 130px);
}

.subscribe form ::placeholder {
  color: white;
}

.subscribe form input[type="submit"] {
  width: 130px;
  background-color: #19c8fa;
  border: 1px solid white;
  border-left: none;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}


.subscribe p {
  line-height: 2;
}


.contact-us {
  padding: var(--section-padding) 0 var(--section-padding) 0;
}

.contact-us .content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .contact-us .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .contact-us .content .info address {
    margin-bottom: 40px;
  }
}

.contact-us .content form {
  flex-basis: 70%;
}

.contact-us .content form .main-input {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 20px;
  border: 1px solid #ccc;
  display: block;
}

.contact-us .content form textarea {
  height: 200px;
}

.contact-us .content .info {
   flex-basis: 25%;
}

.contact-us .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}


.contact-us .content .info span {
  margin-bottom: 10px;
  color: #777;
  line-height: 1.7;
}

.contact-us .content .info address  {
  color: #777;
  line-height: 2;
}


.contact-us .content .info .h4 {
  margin-top: 75px;
}

.contact-us .content form .sub-button {
  padding: 20px;
  display: flex;
  margin-left: auto;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  padding-bottom: 50px;
  padding-top: 50px;
  background-size: cover;
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg);
  position: relative;
  color: white;
  text-align: center;
}

footer::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 70%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer .container {
  position: relative;
}

footer img {
  margin-bottom: 20px;
}

footer p.end {
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
}

footer .social-media {
  display: flex;
  margin: 30px auto;
  width: 160px;
  justify-content: space-between;
}

footer .copyright {
  margin-top: 60px;
}

footer .copyright span {
  color: var(--main-color);
  font-weight: bold;
}